/* styles to help debug - borders around elements */

.row > div {
	/*border: 1px solid black;*/
}

.navbar {
	/*border: 1px solid black;*/
}

.navbar-fixer {
	top:0;
	/*border-width:0 0 1px;*/
	right:0;
	left:0;
	z-index:1030;
	
	
}

.footer {
	border: 1px solid black;
	margin-left: 1vw;
	padding-left: 10px;
	padding-right: 30px;
	width: 100.85vw;
}

body {
	overflow-x: hidden;
}


#content > .row > div > span {
	position: absolute;
	top: 90%;
	display: table;
	text-align: center;
	margin-left: 46.6%;
}

#content > .row > div > button {
	margin-top: 30px;
}

#main >.row > div{
	width: 100.85vw;
	margin-left: -50vw;
	left: 50%;
}

#content >.row > div{
}


#content {
	
}


/*screen specific options:*/

	/* For v small */
#content >.row > div {
	margin-left: 1vw;
	margin-right: 1vw;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 60px;
	padding-bottom: 60px;
}

#main >.row > div {
	padding-left: 10vw;
	padding-right: 10vw;
	padding-top: 180px;
	padding-bottom: 180px;
}

	/*small sized screens */
@media only screen and (min-width : 768px) {
	#content >.row > div {
		margin-left: 4vw;
		margin-right: 4vw;
		padding-left: 20px;
		padding-right: 20px;
		padding-top: 180px;
		padding-bottom: 180px;
	}	
	#main >.row > div {
		padding-left: 20vw;
		padding-right: 20vw;
		padding-top: 180px;
		padding-bottom: 180px;
	}	
}
	/*Medium sized screens*/
@media only screen and (min-width: 992px) {
	#content >.row > div {
		width: 94%;
		left: 1%;
		right: 20%;
		padding-left: 20px;
		padding-right: 20px;
		padding-top: 180px;
		padding-bottom: 180px;
	}	
	
	#content > .row > div > button {
		margin-top: 50px;
	}
	
	#main >.row > div {
		padding-left: 15vw;
		padding-right: 15vw;
		padding-top: 180px;
		padding-bottom: 180px;
	}
	
}


.blueMain {
	background-color: #4998C3;
}

.blueLight {
	background-color: #92C5E0;
}

.blueAccent {
	background-color: #92C5E0;
}

.orangeMain {
	background-color: #1D6288;
}

.orangeLight {
	background-color: #ECF8FE; 
}

#navbar-fixer {
	
	
	
	
	
	
}
}